html{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
body{
    height: auto;
    width:100%;
    background: linear-gradient(to right,#fcac00,#f56b16);
    
}
nav{
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav a{
    font-size: 11px;
    color: white;
    background-color:rgb(255, 86, 7);
    border-radius: 25px;
    padding: 10px;
    text-decoration: none;   
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    
}
.links{
    gap: 30px;
    display: flex;
}
.links a{
    transition: transform 0.3s ease;
}
.links a:hover{ 
    transform: scale(1.10);
    background-color:#f56b16;
    box-shadow:1px 1px 5px 2px #fccc31;
}
.card{
   width: 90%;
   margin: 30px auto;
   padding:40px;
   padding-top: 15px;
   background: white;
   border-radius: 15px;
   box-sizing: border-box;
}
.home{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}
.text{
    
    padding:30px;
    width: 50%;
    font-size: 20px;
    font-family:'Times New Roman', Times, serif;
}
.text h1{
    font-weight: bold;
    font-size: 50px;
    line-height:30px;
}
.text span{
    font-size: 50px;
    color: #f56b16;
}
.home video1{
    width: 50%;
}
.video1 img{
    border: none;
    padding-top: 20px;
    width: 400px;
    height:auto;

}
.hero{
    display: flex;
}
.page-section{
    width: 90%;
    height: auto;
    margin: 30px auto;
   padding:40px;
   padding-top: 15px;
    background: white;
    border-radius: 15px;
    box-sizing: border-box;
}
#menu{
    font-size: 35px;
    text-align: center;
    padding:10px;
    
}

.menu-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: nowrap;
    padding: 10px;
}
.food-card{
    width:250px;
    height: auto;
    font-size: 20px;
    text-align: center;
    /* margin: 20px; */
    background: linear-gradient(to bottom, #ffbf00,#f56b16);
    box-sizing: border-box;
    border-radius: 15px; 
    line-height: 15px;
    padding-bottom: 10px;
}
.food-card img{
    border-radius: 15px;
    height:200px;
    width: 90%;
    object-fit: cover;
    padding-top: 10px;
}
.food-card h3{
    margin-bottom:2px ;
}
.food-card p{
    font-weight:500px;
    margin: 5px 0 10px;
}
.food-card span{
    margin: 0  ;
}
.food-card:hover{
    transform: scale(1.05);
     box-shadow:1px 1px 10px 2px #ffbb00;  
}
.food-card p,span{
    font-size: 15px;
}
.card-button{
    color:black;
    font-size: 11px;
    font-weight: bold;
    cursor: pointer;
    display:block;
    background:#ffbf00;
    border-radius: 25px;
    padding: 10px;
    margin: 5px auto 0;
    border: none;
    
}
.card-button:hover{
    /* background:rgb(255, 115, 0); */
    transform: scale(1.05);
    /* box-shadow:1px 1px 10px 2px #ffbb00; */
}
#aboutus{
    
    text-align: center;
    font-size: 30px;
}
#aboutus p{
    
    font-size:20px;
}
#contact h2{
    font-size: 45px;

    text-align: center;
}
#contact p a{
    line-height:5px;
    text-decoration:none;
    font-size: 20px;
}
#contact form{
    width: 40%;
    max-width: 700px;
    margin: 30px auto;
    display:flex;
    flex-direction: column;
    gap: 15px;
    flex-wrap: nowrap;
    border:none;
    
}
#contact form input,
#contact form textarea{
    padding: 5px;
    height: 40px;
    border: 1px solid orangered;
    border-radius: 20px;
}
#contact button{
    justify-content:center;
    align-items: center;
    width: 50%;
    font-size: medium;
    background: #f56b16;
    color:whitesmoke;
    height:40px;
    border: none;
    border-radius:30px;
    
}

.form-button{
    display: flex;
    gap: 10px;
    /* border-radius: 20px; */
    
}
#reservations h2{
   font-size: 45px;
   text-align: center;
}
#reservations form{
    width: 40%;
    max-width: 700px;
    margin: 30px auto;
    display:flex;
    flex-direction: column;
    gap: 15px;
    flex-wrap: nowrap;
    border:none;
}
#reservations form input{
     padding: 5px;
    height: 40px;
    border: 1px solid orangered;
    border-radius: 20px;
}
#reservations button{
    color: whitesmoke;
    background: #f56b16;
    border: none;
    border-radius:20px;
    height: 40px;
    font-size: medium;
}
